<div class="container p-0">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-md navbar-dark fondo-navbar">
        <a class="navbar-brand" href="#">
          <img src="assets/img/logo.svg" width="200px" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <div class="navbar-nav ml-auto text-center">
            <div class="nav-item opcion-menu" [routerLink]="'inicio'">Inicio</div>
            <div class="nav-item opcion-menu" [routerLink]="'nosotros'">Nosotros</div>
            <!--      <div class="nav-item opcion-menu" [routerLink]="'soluciones'">-->
            <div class="dropdown opcion-menu">
              <div class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Soluciones
              </div>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" style="color: white" type="button" [routerLink]="'soluciones/sillas-salvaescaleras'">Sillas Salvaescaleras</button></li>
                <li><button class="dropdown-item" style="color: white" type="button" [routerLink]="'soluciones/plataformas'">Plataformas</button></li>
              </ul>
            </div>
            <!--      </div>-->
            <!--      <div class="nav-item opcion-menu" [routerLink]="'servicios'">Servicios</div>-->
            <div class="nav-item opcion-menu" [routerLink]="'faq'">FAQ</div>
            <div class="nav-item opcion-menu" [routerLink]="'contacto'">Contacto</div>
            <div class="nav-item opcion-menu" [routerLink]="'presupuesto'">Presupuesto</div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

