<section class="silla-salvaescaleras-flow-x">
  <div class="container justify-content-center my-lg-auto mt-sm-2">
    <div class="row">
      <div class="col-md-6 my-auto">
        <h1 class="h1-custom-size-4 text-center mb-4">SILLA SALVAESCALERAS FLOW X </h1>
        <p style="text-align: justify">
          La silla salvaescaleras Flow X es la opción ideal para el cliente por su diseño innovador y funcionalidad
          excepcional. Con su tecnología avanzada, ofrece una experiencia de viaje suave y segura en escaleras curvas.
          Además, su instalación sin necesidad de obras la hace conveniente y adaptable a cualquier hogar. Con Flow X,
          el cliente puede disfrutar de independencia y comodidad sin comprometer el estilo ni la calidad.
        </p>
        <div class="text-center">
          <button class="btn btn-dark text-center" (click)="abrirDialogoCatalogo(TipoSolucion.SILLA_SALVAESCALERAS_FLOW_X)">Descargar información</button>
        </div>
      </div>
      <div class="col-md-6">
        <img class="img-fluid mb-sm-3" src="assets/img/sillasalvaescalerasflowx.webp" alt="Silla Salvaescaleras Flow X">
      </div>
    </div>
  </div>
</section>

<section class="silla-salvaescaleras-doble-rail">
  <div class="container justify-content-center my-lg-auto mt-sm-2">
    <div class="row flex-column-reverse flex-md-row">
      <div class="col-md-6 text-center">
        <img class="img-fluid" style="max-height: 45vh" src="assets/img/sillasalvaescalerascurvadoblerail.png"
             alt="Silla Salvaescaleras Doble Rail">
      </div>
      <div class="col-md-6 my-auto">
        <h1 class="h1-custom-size-4 text-center mb-4">SILLA SALVAESCALERAS CURVA DOBLE RAÍL</h1>
        <p style="text-align: justify">
          Nuestra innovadora silla doble raíl curva, la solución perfecta que combina versatilidad y resistencia para su
          uso tanto en interiores como en exteriores. Con su diseño único y robusto, esta silla ofrece la máxima
          estabilidad y seguridad en cualquier entorno. Ya sea instalada en una escalera curva en el interior de tu
          hogar o en el exterior de tu jardín, esta silla garantiza un desplazamiento suave y sin problemas. Su
          construcción duradera y resistente a la intemperie la convierte en la opción ideal para aquellos que buscan
          una solución todo en uno para sus necesidades de accesibilidad. Disfruta de la libertad de movimiento tanto
          dentro como fuera de tu hogar con nuestra silla doble raíl curva.
        </p>
        <div class="text-center">
          <button class="btn btn-dark text-center" (click)="abrirDialogoCatalogo(TipoSolucion.SILLA_SALVAESCALERAS_CURVA_DOBLE_RAIL)">Descargar información</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="silla-salvaescaleras-homeglide">
  <div class="container justify-content-center my-lg-auto mt-sm-2">
    <div class="row">
      <div class="col-md-6 my-auto">
        <h1 class="h1-custom-size-4 text-center mb-4">SILLA SALVAESCALERAS HOMEGLIDE</h1>
        <p style="text-align: justify">
          La silla salvaescaleras recta Homeglide es la elección perfecta para el cliente que busca simplicidad y
          eficiencia. Con un diseño robusto y confiable, ofrece un viaje suave y seguro en escaleras rectas. Su
          instalación rápida y sencilla la convierte en una solución conveniente para cualquier hogar. Homeglide
          proporciona comodidad y tranquilidad, permitiendo al cliente mantener su independencia y movilidad en casa con
          facilidad.
        </p>
        <div class="text-center">
          <button class="btn btn-dark text-center" (click)="abrirDialogoCatalogo(TipoSolucion.SILLA_SALVAESCALERAS_HOMEGLIDE)">Descargar información</button>
        </div>
      </div>
      <div class="col-md-6">
        <img class="img-fluid mb-sm-3" src="assets/img/sillasalvaescalerashomeglide.webp"
             alt="Silla Salvaescaleras Homeglide">
      </div>
    </div>
  </div>
</section>

<section class="silla-salvaescaleras-doble-rail">
  <div class="container justify-content-center my-lg-auto mt-sm-2">
    <div class="row flex-column-reverse flex-md-row">
      <div class="col-md-6 mb-sm-3 text-center">
        <img class="img-fluid" style="max-height: 45vh" src="assets/img/sillasalvaescalerasrecta.webp"
             alt="Silla Salvaescaleras Homeglide Exterior">
      </div>
      <div class="col-md-6 my-auto">
        <h1 class="h1-custom-size-4 text-center mb-4">SILLA SALVAESCALERAS HOMEGLIDE EXTERIOR</h1>
        <p style="text-align: justify">
          Nuestra silla salvaescaleras recta diseñada específicamente para exteriores, la opción definitiva que combina
          funcionalidad excepcional con elegancia incomparable. Con un diseño robusto y resistente a la intemperie, esta
          silla es la mejor del mercado para aquellos que buscan una solución duradera y estéticamente atractiva para
          acceder a sus espacios al aire libre. Su construcción de alta calidad garantiza un rendimiento impecable
          incluso en las condiciones más exigentes, mientras que su diseño elegante y moderno complementa cualquier
          entorno exterior. Con nuestra silla salvaescaleras recta de exterior, puedes disfrutar de la máxima comodidad
          y estilo mientras te desplazas con seguridad por tu propiedad al aire libre .
        </p>
        <div class="text-center">
          <button class="btn btn-dark text-center" (click)="abrirDialogoCatalogo(TipoSolucion.SILLA_SALVAESCALERAS_HOMEGLIDE_EXTERIOR)">Descargar información</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="silla-salvaescaleras-air-smart-curva">
  <div class="container justify-content-center my-lg-auto mt-sm-2">
    <div class="row">
      <div class="col-md-6 my-auto">
        <h1 class="h1-custom-size-4 text-center mb-4">SILLA AIR SMART CURVA</h1>
        <p style="text-align: justify">
          ¡Descubre la silla más cómoda con el raíl más fino del mercado! Con un diseño elegante y un soporte increíble,
          esta silla hace que sentarse sea un placer. ¡No te pierdas la mejor combinación de estilo y comodidad!
        </p>
        <div class="text-center">
          <button class="btn btn-dark text-center" (click)="abrirDialogoCatalogo(TipoSolucion.SILLA_SALVAESCALERAS_SMART_AIR_RECTA)">Descargar información</button>
        </div>
      </div>
      <div class="col-md-6">
        <img class="img-fluid mb-sm-3" src="assets/img/sillaairsmartcurva.png"
             alt="Silla Salvaescaleras Air Smart Curva">
      </div>
    </div>
  </div>
</section>

<section class="silla-salvaescaleras-air-smart-recta">
  <div class="container justify-content-center my-lg-auto mt-sm-2">
    <div class="row flex-column-reverse flex-md-row">
      <div class="col-md-6 mb-sm-3 text-center">
        <img class="img-fluid" style="max-height: 45vh" src="assets/img/sillaairsmartrecta.png"
             alt="Silla Salvaescaleras Air Smart Recta">
      </div>
      <div class="col-md-6 my-auto">
        <h1 class="h1-custom-size-4 text-center mb-4">SILLA AIR SMART RECTA</h1>
        <p style="text-align: justify">
          ¡Explora la silla de postura más confortable con el riel más delgado del mercado! Su diseño elegante y su
          soporte excepcional hacen que sentarse sea un auténtico placer. ¡No dejes pasar la mezcla perfecta de estilo y
          comodidad en una silla recta!
        </p>
        <div class="text-center">
          <button class="btn btn-dark text-center" (click)="abrirDialogoCatalogo(TipoSolucion.SILLA_SALVAESCALERAS_SMART_AIR_RECTA)">Descargar información</button>
        </div>
      </div>
    </div>
  </div>
</section>

