<section class="presupuesto">
  <div class="container-fluid mt-3">
    <h1 class="h1-custom-size-3 text-center mb-3" style="color: black">Presupuesto</h1>
    <div class="row">
      <div class="col-md-6 my-auto justify-content-center align-items-center">
        <h1 class="h1-custom-size-4 text-center mb-4">¡Obtén tu Presupuesto sin Compromiso!</h1>
        <p style="text-align: justify">
          ¿Interesado en descubrir cuánto podría costarte mejorar tu hogar? ¡Solicita ahora tu presupuesto de forma gratuita! Estamos aquí para brindarte información detallada y personalizada que se ajuste a tus necesidades. No pierdas la oportunidad de transformar tu espacio con un presupuesto sin compromiso. ¡Hazlo hoy y da el primer paso hacia la realización de tus proyectos!        </p>
        <div class="text-center">
          <button class="btn btn-dark text-center mb-3">
            Si lo prefieres llamanos directamente
            <br>
            <img src="./assets/img/telefono.png" width="20x" alt="+34 611 558 829">
            +34 611 558 829
          </button>
        </div>
      </div>
      <div class="col-md-6 my-auto mb-3">
        <app-formulario-presupuesto></app-formulario-presupuesto>
      </div>
    </div>
  </div>
</section>
