.video-inicio-salvaescaleras {
  /*background-image: url("../../../assets/img/imagen-inicio.jpg");*/
  background-color: #b2afab;
  background-size: 100% 100%; /* Cambiado de 'cover' a '100% 100%' */
  min-height: 50vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
}

.video-inicio-salvaescaleras::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.video-header {
  background-color: #b2afab;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  /*width: 100vw;*/
  z-index: 1;
  display: flex;
}

.texto-superpuesto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Color del texto (blanco en este caso) */
  text-align: center;
  padding: 20px; /* Agrega relleno para que el texto no esté demasiado pegado al borde */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.nuestras-soluciones {
  background-color: #f3f3f3;
  background-size: 100% 100%; /* Cambiado de 'cover' a '100% 100%' */
  min-height: 65vh;
  overflow: hidden;
  position: relative;
  /*width: 100%;*/
  z-index: 1;
  display: flex;
}

.productos {
  background-size: 100% 100%; /* Cambiado de 'cover' a '100% 100%' */
  min-height: 50vh;
  overflow: hidden;
  position: relative;
  /*width: 100%;*/
  z-index: 999;
  display: flex;
}


.ventajas {
  background-color: #f3f3f3;
  background-size: 100% 100%; /* Cambiado de 'cover' a '100% 100%' */
  min-height: 45vh;
  overflow: hidden;
  position: relative;
  /*width: 100%;*/
  z-index: 1;
  display: flex;
}


.contacto {
  background-size: 100% 100%; /* Cambiado de 'cover' a '100% 100%' */
  min-height: 65vh;
  overflow: hidden;
  position: relative;
  /*width: 100%;*/
  z-index: 1;
  display: flex;
}

.borde-imagen {
  border-radius: 5px;
}

.parrafo-imagen-producto {
  text-align: justify;
  padding: 0 2rem;
}

h1, h2 {
  margin: 0; /* Elimina el margen predeterminado del encabezado para un mejor ajuste */
}


.size-letra-ventaja {
  font-size: 0.75rem;
  line-height: 25px;
}

footer {
  position: relative;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
