<div class="container" style="margin-top: 130px">
  <div class="row">
    <div class="col">
      <h1>Política de Privacidad</h1>

      <p>
        Cuando necesitemos obtener información por su parte, siempre le solicitaremos que nos la proporcione voluntariamente
        de forma expresa. Los datos recabados a través de los formularios de recogida de datos del sitio web u otras vías
        serán incorporados a los sistemas de tratamiento de Inspiring Home Solutions.
      </p>

      <p>
        Esta entidad tratará los datos de forma confidencial y exclusivamente con la finalidad de ofrecer los servicios
        solicitados, con todas las garantías legales y de seguridad que impone el Reglamento (UE) 2016/679 del Parlamento
        Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta
        al tratamiento de datos personales y a la libre circulación de estos datos y la Ley 34/2002, de 11 de julio, de
        Servicios de la Sociedad de la Información y Comercio Electrónico.
      </p>

      <!-- Sección de "¿Con qué finalidad tratamos sus datos personales?" -->
      <h2>¿Con qué finalidad tratamos sus datos personales?</h2>

      <!-- Subsección de "Si eres CLIENTE o USUARIO:" -->
      <h3>Si eres CLIENTE o USUARIO:</h3>
      <ul>
        <li>Datos identificativos (nombre, apellidos, DNI…)</li>
        <li>Datos de contacto (correo electrónico, Whatsapp…)</li>
        <li>Datos bancarios (número de cuenta, tarjeta bancaria…)</li>
        <li>Otros datos (facilitados por el interesado en formularios abiertos o comunicaciones)</li>
      </ul>

      <!-- Subsección de "Si eres EMPLEADO o SOLICITANTE DE EMPLEO:" -->
      <h3>Si eres EMPLEADO o SOLICITANTE DE EMPLEO:</h3>
      <ul>
        <li>Datos identificativos (nombre, apellidos, DNI…)</li>
        <li>Datos incluidos en el currículum vitae (Estudios, experiencia laboral, aficiones…)</li>
        <li>Datos de contacto (correo electrónico, Whatsapp…)</li>
        <li>Datos bancarios (número de cuenta, titular, mandato SEPA)</li>
        <li>Imagen</li>
        <li>Otros datos (facilitados por el interesado en formularios abiertos o comunicaciones)</li>
      </ul>

      <!-- Subsección de "Si eres PROVEEDOR de nuestra empresa:" -->
      <h3>Si eres PROVEEDOR de nuestra empresa:</h3>
      <ul>
        <li>Datos identificativos (nombre, apellidos, DNI…)</li>
        <li>Datos de contacto (correo electrónico, Whatsapp…)</li>
        <li>Datos bancarios (número de cuenta, facturación…)</li>
        <li>Otros datos (facilitados por el interesado en formularios abiertos o comunicaciones)</li>
      </ul>

      <!-- Agrega más secciones según sea necesario -->

      <h4 class="h4-custom-size-1">¿Estoy obligado a facilitar los datos personales?</h4>
      <p>
        Inspiring Home Solutions solo solicitará los datos estrictamente
        necesarios para la realización de la finalidad para la cual son recabados, por lo que en caso de no ser facilitados no
        podrá prestarse el servicio solicitado.
      </p>

      <h4 class="h4-custom-size-1">¿Por cuánto tiempo conservaremos sus datos?</h4>
      <p>
        Los datos personales proporcionados y obtenidos durante la relación entre
        el interesado y Inspiring Home Solutions serán conservados durante un plazo máximo de 5 años a partir de la última
        confirmación de interés o mientras nos obligue una previsión legal, en cuyo caso serán conservados debidamente
        bloqueados y eliminados cuando no sea necesario.
      </p>

      <h4 class="h4-custom-size-1">¿Cuál es la legitimación para el tratamiento de sus datos? </h4>
      <p>
        En cumplimiento del artículo 6.1 del Reglamento UE 2016/679
        de 27 de abril le informamos que la legitimación para el tratamiento de sus datos es la siguiente:
      </p>

      <ul>
        <li>El interesado dio su consentimiento para el tratamiento de sus datos personales para uno o varios fines
          específicos y/o
        </li>
        <li>El tratamiento es necesario para el cumplimiento de una obligación legal aplicable al responsable del tratamiento
          y/o
        </li>
        <li>El tratamiento es necesario para la satisfacción de intereses legítimos perseguidos por el responsable del
          tratamiento o por un tercero, siempre que sobre dichos intereses no prevalezcan los intereses o los derechos y
          libertades fundamentales del interesado que requieran la protección de datos personales, en particular cuando el
          interesado sea un niño.
        </li>
      </ul>

      <h4 class="h4-custom-size-1">
        ¿A qué destinatarios se comunicarán sus datos?
      </h4>
      <p>
        Los datos tratados por Inspiring Home Solutions podrán ser comunicados
        a terceros cuando así nos obligue una previsión legal.
      </p>

      <p>
        Asimismo, Inspiring Home Solutions cuenta con proveedores de servicios para los cuales es necesario realizar
        comunicación de datos en diferentes áreas empresariales (administración, contabilidad, fiscalidad, marketing,
        laboral…). La relación con estas empresas está regulada según el artículo 28 del Reglamento UE 2016/679 de 27 de abril
        del Parlamento Europeo y del Consejo (RGPD). Los datos accedidos desde dichas empresas solo serán utilizados para el
        fin empresarial necesario no siendo conservados para cualquier fin ulterior.
      </p>

      <h4 class="h4-custom-size-1">
        ¿Cuáles son sus derechos cuando nos facilita sus datos?
      </h4>
      <p>
        Cualquier interesado tiene derecho a obtener confirmación
        sobre si en Inspiring Home Solutions estamos tratando los datos personales que le conciernan o no.
      </p>

      <p>
        Las personas interesadas tienen derecho a acceder a sus datos personales, así como solicitar la rectificación de datos
        inexactos o, en su caso, solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios para los
        fines para los que fueron recogidos.
      </p>

      <p>
        En determinadas circunstancias, los interesados podrán solicitar la limitación del tratamiento de sus datos, en cuyo
        caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones. Los usuarios también podrán
        oponerse al tratamiento de sus datos. Inspiring Home Solutions dejará de tratar los datos, salvo por motivos legítimos
        imperiosos, o en el ejercicio o defensa de reclamaciones.
      </p>

      <p>
        El usuario puede enviar un escrito a Inspiring Home Solutions, al domicilio del responsable, o bien por medio de un
        correo electrónico indicado en el encabezado de la presente Política, adjuntando fotocopia de su documento de
        identidad, en cualquier momento y de manera gratuita, para:
      </p>

      <ul>
        <li>Revocar los consentimientos otorgados.</li>
        <li>Obtener confirmación acerca de si se están tratando datos personales que conciernen al Usuario o no.</li>
        <li>Acceder a sus datos personales.</li>
        <li>Rectificar los datos inexactos o incompletos.</li>
        <li>Solicitar la supresión de sus datos cuando, entre otros motivos, los datos ya no sean necesarios para los fines
          que fueron recogidos.
        </li>
        <li>Obtener de la limitación del tratamiento de los datos cuando se cumpla alguna de las condiciones previstas en la
          normativa de protección de datos.
        </li>
        <li>Solicitar la portabilidad de tus datos.</li>
        <li>Ponerse en contacto con el DPO de Inspiring Home Solutions.</li>
        <li>Interponer una reclamación en la autoridad de control (<a href="https://www.aepd.es">www.aepd.es</a>) en caso de
          considerar vulnerados los derechos que le son reconocidos por la normativa aplicable en protección de datos.
        </li>
      </ul>

      <p>
        Inspiring Home Solutions adopta los niveles de seguridad correspondientes requeridos por la citada normativa de
        Protección de Datos de Carácter Personal y demás normativa aplicable. Dichos niveles de seguridad son obligados para
        aquellas entidades que accedan a nuestra información en virtud de una relación contractual y/o prestación de servicio,
        en aplicación del artículo 28 del Reglamento UE 2016/679 (RGPD).
      </p>

      <p>
        No obstante, no asume ninguna responsabilidad por los daños y perjuicios derivados de alteraciones que terceros pueden
        causar en los sistemas informáticos, documentos electrónicos o ficheros del usuario.
      </p>

      <p>
        Se podrán utilizar cookies durante la prestación de servicios del sitio web. Las cookies son ficheros físicos de
        información personal alojados en el propio terminal del usuario. El usuario tiene la posibilidad de configurar su
        programa navegador de manera que se impida la creación de archivos cookie o se advierta de la misma. Revise nuestra
        política de cookies a través del enlace que encontrará en esta web.
      </p>

      <p>
        Si opta a abandonar nuestro sitio web a través de enlaces a sitios web no pertenecientes a nuestra entidad, Inspiring
        Home Solutions no se hará responsable de las políticas de privacidad de dichos sitios web ni de las cookies que éstos
        puedan almacenar en el ordenador del usuario.
      </p>

      <p>
        Nuestra política con respecto al correo electrónico se centra en remitir únicamente comunicaciones que usted haya
        solicitado recibir.
      </p>

      <p>
        Si prefiere no recibir estos mensajes por correo electrónico le ofreceremos a través de los mismos la posibilidad de
        ejercer su derecho de cancelación y renuncia a la recepción de estos mensajes, en conformidad con lo dispuesto en el
        Título III, artículo 22 de la Ley 34/2002 de Servicios para la Sociedad de la Información y de Comercio Electrónico.
      </p>

    </div>
  </div>
</div>
