/* styles.scss */

.carousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.control-prev {
  top: 44%;
  left: 20px;
  position: absolute;
  z-index: 999;
  cursor: pointer;
  filter: drop-shadow(
          0 0 10px rgba(0, 0, 0, 0.8)
  );
}

.control-next {
  top: 44%;
  right: 20px;
  position: absolute;
  z-index: 999;
  cursor: pointer;
  filter: drop-shadow(
          0 0 10px rgba(0, 0, 0, 0.8)
  );
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 24px;
  line-height: 1;
  color: black !important;
  pointer-events: none !important;
}

.slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.slide-container img {
  width: 600px;
  /* Ajusta según sea necesario */
}

.slide-container h1 {
  position: absolute;
  top: 75%;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
