<section class="contacto">
  <div class="container-fluid mt-3">
    <h1 class="h1-custom-size-3 text-center mb-3" style="color: black">Contacto</h1>
    <div class="row">
      <div class="col-md-6 my-auto justify-content-center align-items-center">
        <h1 class="h1-custom-size-4 text-center mb-4">Solicitar Información</h1>
        <p style="text-align: justify">
          En caso de tener preguntas o consultas acerca de alguno de nuestros servicios o productos, si deseas obtener un presupuesto, resolver algún asunto o necesitas información adicional, te invitamos a utilizar nuestros formularios de contacto. También puedes ponerte en contacto con nosotros a través de teléfono o correo electrónico. No dudes en comunicarte, estamos aquí para ayudarte.
        </p>
        <div class="text-center">
          <button class="btn btn-dark text-center">
            Si lo prefieres llamanos directamente
            <br>
            <img src="/assets/img/telefono.png" width="20x" alt="+34 611 558 829">
            +34 611 558 829
          </button>
        </div>
      </div>
      <div class="col-md-6 my-auto mb-3">
        <app-formulario-contacto></app-formulario-contacto>
      </div>
    </div>
  </div>
</section>
