/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$inspiring-home-solution-front-primary: mat.define-palette(mat.$indigo-palette);
$inspiring-home-solution-front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$inspiring-home-solution-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$inspiring-home-solution-front-theme: mat.define-light-theme((
  color: (
    primary: $inspiring-home-solution-front-primary,
    accent: $inspiring-home-solution-front-accent,
    warn: $inspiring-home-solution-front-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($inspiring-home-solution-front-theme);

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Helvetica - No necesitas importarlo desde Google Fonts, ya que es una fuente comúnmente disponible en sistemas operativos y navegadores. */

/* Arial */
@import 'bootstrap/dist/css/bootstrap.min.css';

// regular style toast
@import 'ngx-toastr/toastr';

//// bootstrap style toast
//// or import a bootstrap 4 alert styled design (SASS ONLY)
//// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
//@import 'ngx-toastr/toastr-bs4-alert';
//
//// if you'd like to use it without importing all of bootstrap it requires
//@import 'bootstrap/scss/functions';
//@import 'bootstrap/scss/variables';
//@import 'bootstrap/scss/mixins';
//// bootstrap 4
//@import 'ngx-toastr/toastr-bs4-alert';
//// boostrap 5
//@import 'ngx-toastr/toastr-bs5-alert';

/*html, body { height: 100%;}*/
body { font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif; }


.h1-custom-size-1 { font-size: 3rem; }
.h1-custom-size-2 { font-size: 2.5rem; }
.h1-custom-size-3 { font-size: 2rem; }
.h1-custom-size-4 { font-size: 1.5rem; }

.h2-custom-size-1 { font-size: 2.5rem; }
.h2-custom-size-2 { font-size: 2rem; }
.h2-custom-size-3 { font-size: 1.5rem; }
.h2-custom-size-4 { font-size: 1.25rem; }

.h3-custom-size-1 { font-size: 1.5rem; }
.h3-custom-size-2 { font-size: 1.25rem; }
.h3-custom-size-3 { font-size: 1rem; }
.h3-custom-size-4 { font-size: 0.75rem; }

.h4-custom-size-1 { font-size: 1.5rem; }
.h4-custom-size-2 { font-size: 1.25rem; }
