<section class="plataforma-supra-recta">
  <div class="container justify-content-center my-lg-auto mt-sm-2">
    <div class="row">
      <div class="col-md-6 my-auto">
        <h1 class="h1-custom-size-4 text-center mb-4">PLATAFORMA SUPRA RECTA</h1>
        <p style="text-align: justify">
          Nuestra plataforma recta, una opción versátil que ofrece una solución integral para tus necesidades de accesibilidad tanto en interiores como en exteriores. Su diseño elegante y moderno se adapta perfectamente a cualquier entorno, complementando la estética de tu hogar o negocio. Además, su instalación sin complicaciones y su bajo mantenimiento la convierten en una elección práctica y conveniente. Esta plataforma está diseñada para soportar las condiciones cambiantes del clima exterior, asegurando un rendimiento óptimo durante todo el año. Ya sea para superar escalones en la entrada de tu casa o para facilitar el acceso a tu jardín, nuestra plataforma recta es la opción ideal para mejorar la accesibilidad en cualquier espacio.
        </p>
        <div class="text-center">
          <button class="btn btn-dark text-center" (click)="abrirDialogoCatalogo(TipoSolucion.PLATAFORMA_SUPRA_RECTA)">Descargar información</button>
        </div>
      </div>
      <div class="col-md-6">
        <img class="img-fluid mb-sm-3" src="assets/img/plataformarecta.webp" alt="Plataforma Supra Recta">
      </div>
    </div>
  </div>
</section>

<section class="plataforma-recta">
  <div class="container justify-content-center my-lg-auto mt-sm-2">
    <div class="row flex-column-reverse flex-md-row">
      <div class="col-md-6 text-center my-auto">
        <img class="img-fluid" style="max-height: 45vh" src="assets/img/plataformalinearecta.png" alt="Plataforma Recta">
      </div>
      <div class="col-md-6 my-auto">
        <h1 class="h1-custom-size-4 text-center mb-4">PLATAFORMA STARK RECTA</h1>
        <p style="text-align: justify">
          Nuestra plataforma recta alternativa, una opción que ofrece una solución práctica para tus necesidades de accesibilidad tanto en interiores como en exteriores. Su diseño funcional y sencillo se integra fácilmente en cualquier entorno, proporcionando una solución accesible sin comprometer la calidad. Además, su instalación rápida y sencilla la convierte en una elección conveniente para aquellos que buscan una solución eficiente. Esta plataforma está diseñada para resistir las condiciones del exterior, asegurando un rendimiento confiable en cualquier entorno. Ya sea para superar escalones en la entrada de tu hogar o para facilitar el acceso a áreas al aire libre, nuestra plataforma recta alternativa es la opción perfecta para mejorar la accesibilidad sin sacrificar la calidad.
        </p>
        <div class="text-center">
          <button class="btn btn-dark text-center" (click)="abrirDialogoCatalogo(TipoSolucion.PLATAFORMA_STARK_RECTA)">Descargar información</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="plataforma-supra-curva">
  <div class="container justify-content-center my-lg-auto mt-sm-2">
    <div class="row">
      <div class="col-md-6 my-auto">
        <h1 class="h1-custom-size-4 text-center mb-4">PLATAFORMA SUPRA CURVA</h1>
        <p style="text-align: justify">
          Nuestra plataforma curva, una obra maestra de elegancia y funcionalidad diseñada para ofrecer accesibilidad sin compromisos tanto en interiores como en exteriores. Su diseño curvo único añade un toque de sofisticación a cualquier entorno, complementando la estética de tu hogar o negocio. Además de su belleza, esta plataforma ofrece un rendimiento excepcional, garantizando un transporte suave y seguro en cada uso. Su construcción resistente y duradera está diseñada para resistir los elementos del exterior, asegurando años de servicio confiable incluso en las condiciones más exigentes. Ya sea para crear una entrada impresionante a tu hogar o para proporcionar acceso sin barreras a tu jardín, nuestra plataforma curva es la elección perfecta para aquellos que buscan combinar estilo y funcionalidad en una solución de accesibilidad incomparable.
        </p>
        <div class="text-center">
          <button class="btn btn-dark text-center" (click)="abrirDialogoCatalogo(TipoSolucion.PLATAFORMA_SUPRA_CURVA)">Descargar información</button>
        </div>
      </div>
      <div class="col-md-6 my-auto">
        <img class="img-fluid mb-sm-3" src="assets/img/plataformasupracurva.webp" alt="Plataforma Supra Curva">
      </div>
    </div>
  </div>
</section>


