.preguntas-frecuentes {
  padding-top: 130px;
  background-color: #f3f3f3;
  background-size: 100% 100%; /* Cambiado de 'cover' a '100% 100%' */
  min-height: 70vh;
  overflow: hidden;
  position: relative;
  /*width: 100%;*/
  z-index: 1;
  display: flex;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.question {
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
}

.answer {
  overflow: hidden;
  padding: 10px;
}
